h1{
    text-align: center;
    font-size: 60px;
    text-shadow:1px 1px 8px #13d2dc;
}
p{
    margin: 10px 20px;
    font-size: 20px;
}
img{
    display: flex;
    justify-self: center;
}
button{
    font-size: larger;
    color: aliceblue;
    background-color: darkorchid;
    border-color: rgb(228, 29, 145);
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
}
button:hover{
    transform: scale(1.3);
    transition: transform 0.5s;
}